<header class="header_wrp">
    <div class="container-fluid p-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="logo">
          <a href="#">
            <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-icon-png-transparent-background-osteopathy-16.png" alt="logo" class="img-fluid" />
          </a>
        </div>
      
        <div class="w-100" id="navbarTogglerDemo03">
          <ul class="navbar-nav float-end mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link active" routerLink='/dashboard'>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink='/input'>Input</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="logOff()" href="#">Sign Out</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>