<router-outlet></router-outlet>
<!-- <div class="row">
  <div class="col-lg-6">
    <form action="" method="POST">
      <mat-form-field>
        <mat-label>Business Name</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Your Name</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
    </form>
  </div>
</div> -->

<!-- <span class="bold_text mt-4 d-inline-block">Are you the primary contact of business?</span>

                  <button mat-button mat-raised-button class="back_btn mt-5 me-3">
                    <span class="material-icons">
                      arrow_back_ios
                    </span>                
                  </button>
      
                  <button mat-raised-button class="next_btn mt-5" color="primary">Next</button> -->